.header {
	container-type: inline-size;
	border: var(--border-thicker);
	padding: var(--size-6);
	background-color: var(--color-bg);
	box-shadow: var(--shadow-hard);
}

.title {
	font-size: clamp(var(--font-size-4), 7cqi, var(--font-size-7));
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-bottom: var(--size-8);
}

.subtitle {
	font-size: clamp(var(--font-size-3), 3cqi, var(--font-size-5));
	font-weight: 400;
	margin: 0;
}
