.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #1f2937;
  color: var(--orange-5);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
