/* the props */
@import "open-props/style";

/* optional imports that use the props */
@import "open-props/normalize";
@import "open-props/buttons";

/* just light or dark themes */
@import "open-props/normalize/dark";
@import "open-props/buttons/dark";
@import "open-props/normalize/light";
@import "open-props/buttons/light";

/* individual imports */
@import "open-props/indigo";
@import "open-props/easings";
@import "open-props/animations";
@import "open-props/sizes";
@import "open-props/gradients";

body {
  margin: 0;
  font-family: var(--font-old-style);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-monospace-slab-serif);
}
